@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600;700&display=swap');

body,button,input{
    font-family: "Josefin Sans",sans-serif;
}

html, body {margin: 0; height: 100%; overflow: hidden}

body{
    background-color: rgb(10,1,20);
}

form{
    display: flex;
    flex-direction: column;
    gap:2rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


input{
    background-color: transparent;
    padding: 1rem;
    border: 1px solid cornflowerblue;
    border-radius:10px;
}

::-webkit-input-placeholder{
    color:rgb(240,240,240);
    font-size:1rem;
    opacity:0.8;
}

#root
{
    width:100%;
    height:100%;

}